* {
  box-sizing: border-box;
}
/* Hamburger Menu */
@media screen and (max-width: 780px) {
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu-wrap > header {
    display: none;
  }

  .menu-wrap .hamburger {
    position: relative;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background-color: var(--blue-main);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Style for top and bottom lines */
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
  }

  /* Moves one line down */
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /* Toggle Animate */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  /* Turn Lines into X */
  .menu-wrap .toggler:checked + .hamburger > div::before,
  .menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  /* Removing Scroll on checked */
  .toggler:checked ~ body {
    height: 100%;
    overflow-y: hidden;
  }
  /* Rotate on hover when checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-wrap .menu > div {
    background: var(--blue-overlay);
    border-radius: 10%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

/* Menu Not Hamburger */
/* Toggle checkbox not in view */
.toggler {
  position: absolute;
  top: -10rem;
  left: -10rem;
}

/* Fixed Navbar on top */
.menu-wrap {
  position: fixed;
  display: flex;
  width: 100%;
  height: 5vh;
}

.menu-wrap header {
  margin-top: 5rem;
}

/* Nav Links */
.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--nav-color);
  border: 1px solid var(--white);
  padding: 2rem;
  width: 100%;
  background-color: var(--blue-link);
}

.menu-wrap ul {
  margin-top: 3rem;
}
.menu-wrap ul li {
  list-style-type: none;
  margin: 2rem auto;
}
